*.pyc
*.swp
*.pyo
*.db
*.jpg
*.png
.DS_Store
.coverage
/static
/media
build
.build
*.orig
*.rej
*~
*.o
*.pyo
_private
*_local.py
_LOCAL_FLAG
_DEVELOPMENT_FLAG
_temp
test.db
dist
build
*.egg-info
satchmo
local_bursar_*py
.DS_Store
.tox
.coverage
htmlcov